body
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:sans-serif;
	background-color:#cce6ff ;
}

.con
{
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	width:100%;
	height:100vh;

	
}
.calci
{	
	padding:20px;
	border-radius:5px;
	background:#b3daff;
	box-shadow:5px  5px 15px rgb(0, 102, 204);
}
.calci button
{
	
	border:0;
	outline:0;
	width:60px;
	height:60px;
	border-radius:35px;
	margin:10px;
	background:#e6f3ff;
	box-shadow:5px 5px 15px rgb(0, 102, 204);
	
}
.display
{
	display:flex;
	justify-content:flex-end;
	margin:18px 0;
}
.display input
{
	box-shadow:none;
	text-align:right;
	width:340px;
	height:70px;
	font-size:30px;
	border-radius:10px;
	border:none;
	
}
.first button#ac
{
	width:140px;
	background-color:#e6ccff;
}
.first button#c
{
	background:#ffffb3;
}
	
.calci #oper
{
	background:#d9b3ff;
}
.first button
{
	background:#df9fbf;
}
.calci button:hover
{
	 transform: scale(1.1); 
}